@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.background {
    width: 800px;
    height: 800px;
    object-fit: fill;
   
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


  
  .slogan {
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
    padding: 5px;
    margin-left: 500px;
  }
  .scene 
  {
    position: relative;
    height: 100vh;
    background: linear-gradient(#a6d8ff,#fff,#fff,#9370db);
  }
  .c-item {
    height: 480px;
    margin-top: 5px;
  }
  
  .c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }
  
  li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
  }
  header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    
  }

  .logo {
    height: 100px;
    cursor:pointer;
    margin-right: auto;
  }
  .nav_list {
    list-style: none;
  }
  .nav_list li {
      display: inline-block;
      padding: 0px 20px;
  }
  .nav_list li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }

  .nav_list li a:hover {
    color: #0088a9;
  }
  button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
  }
  .cta button:hover {
    background-color: rgba(0,136,169,0.8);
  }

  


  
  